<robot xmlns:xacro="http://wiki.ros.org/xacro" name="common_bodies">
    <xacro:include filename="pelvis/pelvis.xacro" />
    <xacro:include filename="waist/waist.xacro" />
    <xacro:include filename="head/head.xacro" />
    <xacro:include filename="arm/arm.xacro" />
    <xacro:include filename="thumb/thumb.xacro" />
    <xacro:include filename="leg/leg.xacro" />
    <xacro:include filename="index_finger/index_finger.xacro" />
    <xacro:include filename="middle_finger/middle_finger.xacro" />
    <xacro:include filename="pinky_finger/pinky_finger.xacro" />
</robot>